<%= form_for(@customer_class) do |f| %>
  <% if @customer_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_class.errors.count, "error") %> prohibited this customer_class from being saved:</h2>

      <ul>
      <% @customer_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
